<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th>Intervalo de Repetição</th>
      <th>Prazo</th>
      <th>Custo Total Estimado</th>
      <th>Custo Mensal Estimado</th>
      <th>Custo Efetivo Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.description %></td>
        <td><%= goal.startDate %></td>
        <td><%= goal.endDate %></td>
        <td><%= goal.frequency %></td>
        <td> -? </td>
        <td><%= goal.expectedAmount %></td>
        <td> -? </td>
        <td> -? </td>
        <td><%= link_to 'Exibir', goal %></td>
        <td><%= link_to 'Editar', edit_goal_path(goal) %></td>
        <td><%= link_to 'Apagar', goal, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Objetivo', new_goal_path %>
